@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color: black; color: white;">
    <div class="text-center">
        <h1 class="display-4">Welcome! Please select the bestiary to continue</h1>      
    </div>
</body>